body{
    margin: 0;
    padding: 0;
    background: #fbf9ef;
    font-family: Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 2em;
}
#wrap {
    margin: 0 auto;
}
p, ul, li {
    margin: 0;
}
ul {
    list-style-type: none;
}
#nav {
    height: 50px;
    background: #F0F0F0;
}
#nav ul{
    float: right;
}
#nav ul li{
    float: left;
    padding: 15px;
}
#nav ul li a{
    text-decoration: none;
    padding: 15px;
    font-size: 1.2em;
}
#content{
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    width: 60%;
    height: 400px;
    border: 1px;
}
#content p{
    text-align: left;
}
input{
    margin: 0;
    padding: 0;
    width: 200px;
    height:30px;
    font-size:1.1em;
}
